/* CENTER WEBSITE */
body {
    max-width: 1080px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

/* NAVIGATION */
nav a {
    float: left;
    padding: 8px 10px;
}

.nav-right {
    float: right;
}

/* HEADER*/
header h1 {
    text-align: center;
}

/* ARTICLE */
article {
    margin: 0px 3%;
    padding: 3%;
    text-align: justify;
}

/* FOOTER */
footer {
    padding: 10px 3%;
}